%h2.title-form Attente de confirmation

%br

%p Merci de vous être inscrit sur Geengo

%p Vous allez recevoir un email contenant un lien de confirmation de votre compte

%p Après avoir cliqué sur ce lien, votre compte sera activé et vous pourrez vous connecter.

%p A bientôt sur Geengo