@mixin company { background-image: url('/images/sprites/default.png'); }
@mixin tennis { background-image: url('/images/sprites/tennis.png'); }
@mixin basket { background-image: url('/images/sprites/default.png'); }
@mixin swim { background-image: url('/images/sprites/swim.png'); }

@mixin default { background-image: url('/images/sprites/default.png'); }